@model sedatodev1.Models.Hizmet

    <h2>Hizmeti Sil</h2>

    <div class="alert alert-danger mt-3">
        <strong>@Model.Ad</strong> isimli hizmeti silmek istediğine emin misin?
    </div>

<p><strong>Salon:</strong> @Model.Salon.Ad</p>
<p><strong>Süre:</strong> @Model.Sure dakika</p>
<p><strong>Ücret:</strong> @Model.Ucret ₺</p>

<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <button class="btn btn-danger">Evet, Sil</button>
    <a class="btn btn-secondary" asp-action="Index">Vazgeç</a>
</form>
