@model List<sedatodev1.Models.ExerciseApiModel>

<h2 class="fw-bold mb-4">🏋️ Egzersiz Ara</h2>
@functions {
    string KasAdi(string eng)
    {
        return eng switch
        {
            "back" => "Sırt",
            "chest" => "Göğüs",
            "upper legs" => "Üst Bacak",
            "lower legs" => "Alt Bacak",
            "shoulders" => "Omuz",
            "waist" => "Bel",
            "cardio" => "Kardiyo",
            _ => eng
        };
    }

    string EkipmanAdi(string eng)
    {
        return eng switch
        {
            "dumbbell" => "Dambıl",
            "barbell" => "Halter",
            "body weight" => "Vücut Ağırlığı",
            "cable" => "Kablo",
            "machine" => "Makine",
            "band" => "Direnç Bandı",
            _ => eng
        };
    }
}
<form method="get" class="row g-3 mb-4">

    <div class="col-md-4">
        <select name="bodyFilter" class="form-control">
            <option value="">Kas Grubu Seç</option>
            <option value="back">Sırt</option>
            <option value="chest">Göğüs</option>
            <option value="legs">Bacak</option>
            <option value="shoulders">Omuz</option>
            <option value="arms">Kol</option>
            <option value="waist">Bel</option>
        </select>
    </div>

    <div class="col-md-4">
        <select name="equipmentFilter" class="form-control">
            <option value="">Ekipman Seç</option>
            <option value="barbell">Barbell</option>
            <option value="dumbbell">Dumbbell</option>
            <option value="cable">Kablo</option>
            <option value="body weight">Vücut Ağırlığı</option>
            <option value="kettlebell">Kettlebell</option>
        </select>
    </div>

    <div class="col-md-4">
        <button class="btn btn-primary w-100">Filtrele</button>
    </div>

</form>


<div class="row">
@foreach (var e in Model)
{
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
            <img src="@e.gifUrl" class="card-img-top" style="height:250px; object-fit:contain;" />

            <div class="card-body">
                <h5 class="card-title">@e.name</h5>
                <p class="card-text">
                    <strong>Kas Grubu:</strong> @e.target <br />
                    <strong>Bölge:</strong> @e.bodyPart <br />
                    <strong>Ekipman:</strong> @e.equipment
                </p>
            </div>
        </div>
    </div>
}
</div>
